body {
    margin: 15px;
}

form {
    max-width: 50em;
    margin-bottom: 30px;
}

.tab-content {
    padding: 6px 12px;
}

#startTime, #endTime {
    margin-top: -34px;
    float:right;
}

#welcome-msg {
    margin-bottom: 15px;
}

#welcome-msg  a {
    margin-top: -3px;
}

button {
    width: 100%;
}