.project
.settings/
timetracker-backend/target/
timetracker-ear/target/
timetracker-web/target/
timetracker-ear/.classpath
timetracker-backend/.classpath
timetracker-backend/.checkstyle
timetracker-web/.classpath
*.checkstyle
.idea/
timetracker.iml
timetracker-backend/timetracker-backend.iml
timetracker-web/timetracker-web.iml
dml/dml.iml
